AUTH_SECRET=

NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_BASE_PATH=

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# API-Football Configuration
API_FOOTBALL_KEY=
API_FOOTBALL_HOST=
API_FOOTBALL_LEAGUE=
API_FOOTBALL_SEASON=